.footer {
    background-color:  hsl(233, 26%, 24%);
    padding-top: 40px;
    padding-bottom: 40px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        div:first-of-type {
            .footer_logo {
                padding-bottom: 40px;
            }
            .footer_links {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 40px;
                li {
                    a {
                        svg {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .footer_navigation {
            padding-bottom: 20px;
            ul {
                li {
                    padding-bottom: 20px;
                    a {
                        font-family: "PublicSans-Regular";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        color: rgb(50, 44, 44);
                        font-size: 18px;
                        position: relative;
                        display: inline-block;
                        background: linear-gradient(to right, rgb(249, 249, 250), rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-size: 200% 100%;
                        background-position: 100%;
                        transition: background-position 275ms ease;
                        text-decoration: none; 
                        }
                        a:hover {
                            background-position: 0 100%;
                            font-weight: 700;
                    }
                }
            }
            .first_lists {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .second_lists {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .last_footer_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                display: block;
                text-align: center;
                font-weight: bold;
                color:#fff;
                background: linear-gradient(to right, #1de027, #4ca2cb) !important;
                outline: none;
                padding:15px 20px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 21px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border: none;
                cursor: pointer;
            }
            button:hover {
                box-shadow: 2px 2px 6px black;
            }
            p {
                padding-top: 20px;
                font-family: "PublicSans-Regular";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: grey;
                font-size: 18px;
            }

        }
    }
}

@media(min-width: 720px) {
    .footer {
        .container {
            max-width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            div:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .footer_links {
                    width: 160px;
                }
            }
            .footer_navigation {
                display: contents;
                padding-bottom: 20px;
                ul {
                    li {
                        padding-bottom: 20px;
                        a {
                            font-family: "PublicSans-Regular";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: rgb(50, 44, 44);
                            font-size: 18px;
                            position: relative;
                            display: inline-block;
                            background: linear-gradient(to right, rgb(249, 249, 250), rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 200% 100%;
                            background-position: 100%;
                            transition: background-position 275ms ease;
                            text-decoration: none; 
                            }
                            a:hover {
                                background-position: 0 100%;
                                font-weight: 700;
                        }
                    }
                }
                .first_lists {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .second_lists {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .last_footer_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    color:#fff;
                    background: linear-gradient(to right, #1de027, #4ca2cb) !important;
                    outline: none;
                    padding:15px 20px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 21px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: none;
                }
                button:hover {
                    box-shadow: 2px 2px 6px black;
                }
                p {
                    padding-top: 20px;
                    font-family: "PublicSans-Regular";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    color: grey;
                    font-size: 18px;
                }
    
            }
        }
    }
}