.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:  hsl(233, 26%, 24%);
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        div:first-of-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;
            .footer_logo {
                padding-bottom: 40px;
            }
            .footer_links {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                li {
                    a {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                li:not(:last-of-type) {
                    margin-right: 20px;
                }
            }
        }
        .footer_navigation {
            padding-bottom: 20px;
            ul {
                li {
                    padding-bottom: 20px;
                    a {
                        font-size: 18px;
                        font-weight: 500;
                        font-style: normal;
                        display: inline-block;
                        text-decoration: none; 
                        color: hsl(0, 0%, 100%);
                        font-family: "PublicSans-Regular";
                        }
                        a:hover {
                            font-weight: 700;
                            color:  hsl(136, 85%, 32%);
                    }
                }
            }
            .first_lists {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .second_lists {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        .last_footer_item {
            display: flex;
            align-items: center;
            flex-direction: column;
            button {
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                padding: 13px 20px;
                text-align: center;
                border-radius: 25px;
                white-space: nowrap;
                box-sizing: border-box;
                color: hsl(0, 0%, 100%);
                font-family: "PublicSans-Regular";
                background: linear-gradient(to right, #1de027, #4ca2cb) !important;
            }
            button:hover {
                box-shadow: 2px 2px 6px black;
                background: linear-gradient(to right, #58d15e, #6ca2bb) !important;
            }
            p {
                padding-top: 20px;
                font-family: "PublicSans-Regular";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: dimgrey;
            }

        }
    }
}

@media(min-width: 720px) {
    .footer {
        .container {
            max-width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            div:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 0;
                .footer_logo {
                    padding-bottom: 58px;
                }
            }
            .footer_navigation {
                display: contents;
                padding-bottom: 20px;
                ul {
                    li {
                        padding-bottom: 20px;
                        a {
                            font-family: "PublicSans-Regular";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: hsl(0, 0%, 100%);
                            font-size: 18px;
                            display: inline-block;
                            text-decoration: none; 
                            }
                            a:hover {
                                background-position: 0 100%;
                                font-weight: 700;
                        }
                    }
                }
                .first_lists {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .second_lists {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .last_footer_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    align-self: flex-end;
                }
                button:hover {
                    box-shadow: 2px 2px 6px black;
                }
                p {
                    color: grey;
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    font-family: "PublicSans-Regular";
                    padding-top: 38px;
                }
    
            }
        }
    }
}