// PublicSans-bold
// PublicSans-Medium
// PublicSans-Regular
// PublicSans-SemiBold
// PublicSans-Thin
header {
    .container {
        .sub_header {
            max-width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            background: hsl(0, 0%, 100%);
            .header_navigation, .request_invite {
                display: none;
            }
            .header_input {
                position: absolute;
                top: 22px;
                right: 6px;
                z-index: 1;
                width: 30px;
                height: 30px;
                opacity: 0;
            }
            .header_input:checked ~ .header_navigation {
                width: 70%;
                display: inline-block;
                padding: 16px;
                background: white;
                border-radius: 5px;
                position: fixed;
                top: 90px;
                margin: auto;
                left: 10%;
                box-shadow: 0px 0px 10px grey;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li {
                        padding: 10px 0;
                        a {
                            font-family: "PublicSans-Regular";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: rgb(50, 44, 44);
                        }
                    }
                }
            }
            .open_menu svg {
                position: absolute;
                top: 34.5px;
                right: 13px;
            }
            .close_menu svg {
                display: none;
            }
            .header_input:checked ~ .open_menu svg{
                display: none;
            }
            .header_input:checked ~ .close_menu svg{
                display: inline-block;
                position: absolute;
                top: 30px;
                right: 13px;
            }
        }
        .header_details {
            // background-image: url(../images/bg-intro-mobile.svg);
            // background-repeat: no-repeat;
            // background-position: 50% 50%;
            padding-bottom: 80px;
            background-color: hsl(0, 0%, 98%);
            .container {
                max-width: 90%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    font-family: "PublicSans-Regular";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    color: rgb(50, 44, 44);
                    padding-top: 250px;
                    padding-bottom: 30px;
                }
                p {
                    font-family: "PublicSans-Regular";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    color: rgb(50, 44, 44);
                    opacity: .8;
                    padding-bottom: 30px;
                }
                .request_invite {
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    color:#fff;
                    text-decoration: none;
                    background-color: #429000;
                    outline: none;
                    padding:10px 5px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 5px solid #429000;
                }
                .request_invite:hover {
                    color: #429000;
                    background-color: hsl(0, 0%, 100%);
                }
            }
        }
    }
}

@media(min-width: 850px) {
    header {
        .container {
            .sub_header {
                max-width: 75%;
                margin: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                .header_navigation, .request_invite {
                    display: inline-block;
                }
                .header_input {
                    display: none;
                }
                .header_navigation {
                    position: initial;
                    display: inline-block;
                    background: white;
                    margin: auto;
                    width: 335px;
                    ul {
                        display: none;
                        display: flex;
                        flex-direction: row;
                        li {
                            padding: 0;
                            font-family: "PublicSans-Regular";
                            font-style: normal;
                            font-weight: 500;
                            a {
                                font-size: 18px;
                                position: relative;
                                display: inline-block;
                                background: linear-gradient(to right, rgb(25, 25, 112), midnightblue 50%, royalblue 50%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-size: 200% 100%;
                                background-position: 100%;
                                transition: background-position 275ms ease;
                                text-decoration: none; 
                                }
                                a:hover {
                                    background-position: 0 100%;
                                    font-weight: 700;
                            }
                        }
                        li:not(:last-of-type) {
                            margin-right: 16px;
                        }
                    }
                }   
                .open_menu svg {
                    display: none;
                }
                .close_menu svg {
                    display: none;
                }
                .request_invite {
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    color:#fff;
                    text-decoration: none;
                    background-color: #429000;
                    padding:10px 5px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 5px solid #429000;
                }
                .request_invite:active{
                    position: relative;
                    top:3px;
                    left:2px;
                    box-shadow: 0px 0px;
                }
                .request_invite:hover{
                    background-color: #fff;
                    color:#429000;
                    font-weight: bold;
                }
            }
        }
    }
}