header {
    .container {
        .sub_header {
            max-width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
            background: hsl(0, 0%, 100%);
            .header_navigation, .request_invite {
                display: none;
            }
            .header_input {
                position: absolute;
                top: 32px;
                right: 6px;
                z-index: 1;
                width: 30px;
                height: 30px;
                opacity: 0;
            }
            .header_input:checked ~ .header_navigation {
                width: 266px;
                display: inline-block;
                padding: 32px;
                background: white;
                border-radius: 5px;
                position: fixed;
                top: 143px;
                margin: auto;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li {
                        padding: 10px 0;
                    }
                }
            }
            .open_menu svg {
                position: absolute;
                top: 44.5px;
                right: 13px;
            }
            .close_menu svg {
                display: none;
            }
            .header_input:checked ~ .open_menu svg{
                display: none;
            }
            .header_input:checked ~ .close_menu svg{
                display: inline-block;
                position: absolute;
                top: 41px;
                right: 13px;
            }
        }
    }
}

@media(min-width: 720px) {
    header {
        .container {
            .sub_header {
                max-width: 75%;
                margin: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                .header_navigation, .request_invite {
                    display: inline-block;
                }
                .header_input {
                    display: none;
                }
                .header_navigation {
                    position: initial;
                    display: inline-block;
                    background: white;
                    ul {
                        display: flex;
                        flex-direction: row;
                        li {
                            padding: 0;
                        }
                    }
                }
                .open_menu svg {
                    display: none;
                }
                .close_menu svg {
                    display: none;
                }
                .request_invite {
                    margin-left: 25%;
                }
            }
        }
    }
}